.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0,0, 0.2);
    max-height: 300px;
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.title{
    color: gray;
    font-size: 18px;
}
button{
    border: none;
    outline: 0;
    padding: 8px;
    display: inline-block;
    color: whitesmoke;
    background: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
a{
    text-decoration: none;
    font-size: 22px;
    color: black;
}
button:hover, a:hover {
    opacity: 0.7;
  }